/* In this file you can overwrite/extend the given magpie-styles or declare your own ones */

/* Example of extending a given magpie-style */

.magpie-view-stimulus-container {
    height: auto;
    max-height: 350px;
}

/* Display all titles in red */
.magpie-view-title {
    color: lightpink;
}

/* Example of declaring your own style */
.custom-border {
    border: 1px solid powderblue;
}

.inline {
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}


.annotation-choices-parent {
    text-align: center;
}

.annotation-choice {
    /*margin-right: 50px;*/
    /*max-width: 50px;*/
    text-align: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    display: flex;
    padding-left: 80px;
    padding-top: 10px;
}

.button-choice {
    max-width: 80px;
    /*flex: 5px;*/
}

.button-desc {
    /*width: 95%;*/
    text-align: left;
    padding-left: 8px;
    /*flex: 50px;*/
    /*margin-top: 15px;*/
}

.annotation-head {
    padding-top: 7px;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Playfair Display", "Noto Serif", serif;
    font-size: 20px;
    /*text-align: center;*/
}

.annotation-segment, .annotation-head {
    position: relative;
}

.annotation-segment {
    color: rgba(0, 0, 0, 0.87);
    font-family: "Playfair Display", "Noto Serif", serif;
    font-size: 20px;
    text-align: center;
}

.marker {
    background: lightgreen;
    font-family: "Playfair Display", "Noto Serif", serif;
      white-space: nowrap;

}

.marker-anno {
    background: lightpink;
    font-family: "Playfair Display", "Noto Serif", serif;
}

.anno {
    position: relative;
    text-align: center;

}

.label {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    display: inline-flex;
    flex-direction: column-reverse;
    align-items: center;

    /*display: inline-block;*/
    padding: 4px 0;
    font-family: "Playfair Display", "Noto Serif", serif;
    font-size: 20px;
    /*font-weight: bold;*/
    line-height: 24px;
    color: #ffffff;
    /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999999;
}

.label_colored {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    display: inline-block;
    padding: 4px 0;
    font-family: "Playfair Display", "Noto Serif", serif;
    font-size: 20px;
    /*font-weight: bold;*/
    line-height: 24px;
    color: hotpink;
    /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
    white-space: nowrap;
    vertical-align: baseline;
    background-color: darkgreen;
}

#parent #popup {
    display: none;
}

#parent:hover #popup {
    display: block;
}

/*Flex */
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-child {
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}